@import "tailwindcss";

body {
  font-family: var(--font-sans), sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#__next,
main {
  height: 100%;
}

/* Override MapLibre's default attribution style to be more subtle */
.maplibregl-ctrl-attrib {
  font-size: 10px;
}

.maplibregl-ctrl-attrib-button {
  display: none;
}
